# @package _global_

env:
  _target_: holomotion.src.env.motion_tracking.MotionTrackingEnv
  _recursive_: False
  config:
    experiment_name: ${experiment_name}
    num_envs: ${num_envs}
    env_spacing: 2.5 # meters
    replicate_physics: true
    headless: ${headless}
    num_processes: ${num_processes}
    main_process: ${main_process}
    process_id: ${process_id}
    ckpt_dir: null
    disable_ref_viz: false
    eval_log_dir: null
    save_rendering_dir: null

    robot: ${robot}
    domain_rand: ${domain_rand}
    rewards: ${rewards}
    terrain: ${terrain}
    obs: ${obs}
    terminations: ${terminations}

    simulation:
      episode_length_s: 10 # Long episodes for fluid motion-based termination
      sim_freq: 200
      control_decimation: 4
      physx:
        bounce_threshold_velocity: 0.5
        gpu_max_rigid_patch_count: 327680 # 10 * 2**15

    scene:
      terrain: ${terrain}
      lighting:
        distant_light_intensity: 3000.0
        dome_light_intensity: 1000.0
      contact_sensor:
        history_length: 3
        force_threshold: 10.0
        track_air_time: true
        debug_vis: false

    actions:
      dof_pos:
        type: joint_position
        params:
          asset_name: robot
          joint_names:
            - ".*"
          use_default_offset: true
          scale: ${robot.actuators.action_scale}

    commands:
      ref_motion:
        type: MotionCommandCfg
        params:
          command_obs_name: bydmmc_ref_motion
          motion_lib_cfg: ${robot.motion}
          urdf_dof_names: ${robot.dof_names}
          urdf_body_names: ${robot.body_names}
          arm_dof_names: ${robot.arm_dof_names}
          waist_dof_names: ${robot.waist_dof_names}
          leg_dof_names: ${robot.leg_dof_names}
          arm_body_names: ${robot.arm_body_names}
          torso_body_names: ${robot.torso_body_names}
          leg_body_names: ${robot.leg_body_names}
          anchor_bodylink_name: ${robot.anchor_body}
          asset_name: robot
          debug_vis: true
          root_pose_perturb_range:
            x: [-0.05, 0.05]
            y: [-0.05, 0.05]
            z: [-0.01, 0.01]
            roll: [-0.1, 0.1]
            pitch: [-0.1, 0.1]
            yaw: [-0.2, 0.2]
          root_vel_perturb_range:
            x: [-0.3, 0.3]
            y: [-0.3, 0.3]
            z: [-0.1, 0.1]
            roll: [-0.3, 0.3]
            pitch: [-0.3, 0.3]
            yaw: [-0.4, 0.4]
          dof_pos_perturb_range: [-0.1, 0.1]
          dof_vel_perturb_range: [-1.0, 1.0]
          resample_time_interval_s: 100
          n_fut_frames: ${obs.n_fut_frames}
          target_fps: 50

    normalization:
      clip_actions: 100.0
      clip_observations: 100.0

    resample_motion_when_training: True
